*{
    margin: 0px;
    padding: 0px;
}
#navigation{
display: flex;
position:sticky;
top: 0px;


}
.nav-points{
    display: flex;
    padding-top: 0px;
}
#navigation img{
    height: 66px;
    width: 70px;
   
    /* padding: 20px 20px; */
    margin:10px 30px;
    border-radius: 100px;
}
.nav-points li{
 
    list-style: none;
    font-size: 1.3rem;
    
}
.nav-points li a{
    display: block;
    text-decoration: none;
      margin: 27px 17px;
       color: white;
       padding: 3px 8px;
       font-weight: bold;
      
}
.nav-points li a:hover{
   color: black;
   background-color:white;
   border-radius: 20px;
}
#navigation::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 8, 6, 0.76);
    z-index: -1;
    opacity: 0.5;
}

/* mid-cintent */ 
#mid-sec{
    border: 10px solid #cee8ec;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 220px;
/* position: relative; */
height: 407px;
width: 500px;
margin: auto;
box-shadow: 2px 5px 5px 7px rgb(22, 21, 21);
}

#mid-sec h1{
font-size: 3.2rem;
color: white;
font-family: 'Ubuntu', sans-serif;
font-weight: bold;

}
#mid-sec p{
    line-height: 1.5;
    color: white;
    font-size: 1.2rem;
}
.btn{
    margin: 7px;
    padding: 3px 7px;
    font-size: 1rem;
   width: 140px;
   border: 0;
   transition: width 0.5s;
    background:linear-gradient(to right,#fb5283,#ff3527);
    color:#fff;
    outline: none;
  
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.btn:hover{
    width: 160px;
    align-items: center;
    justify-content: space-between;
}
#mid-sec::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:650px;

    background: url(pexels-kristina-paukshtite-1998635.jpg)no-repeat center center/cover;
    z-index: -1;
    opacity: 0.85;
}

.center{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.4rem;
    text-shadow: 3px 4px 2px rgb(95, 86, 86);
 
}
.our-services {

    margin-left: 34px;
}
.services{
    display: flex;
    margin: 30px;
    
}

.services .box{
    border: 3px solid black;
    margin: 7px;
    height: 379px;
    border-radius: 23px;
    background-color: rgb(224, 214, 214);
}
.services .box img{
    height: 203px;
    display: block;
    margin: auto;
    padding: 16px;
    
}
.services .box p{
    text-align: center;
    padding: 9px;
    margin: 3px;
    font-size: 1.2rem;
}
.our-services{
    margin-top: 115px;
}


/* our-partners */
.partners-img img{
height: 200px;
/* position: relative;
animation-name: inherit;
animation-duration: 1s;
animation-fill-mode: alternate;
animation-timing-function: ease-in; */
}

.partners-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    padding-top: 50px;
    /* padding-bottom: 30px; */
    
    
}
#our-partners{
    margin-top: 60px;
 height: 360px;
   position:relative;
   }
 #our-partners::before{ 
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:url(https://thumbs.dreamstime.com/b/team-business-person-works-together-company-statistics-shooted-above-concept-teamwork-partnership-double-people-136865555.jpg);
    z-index: -1;
    opacity: 0.6;
}
.partners-img .client{
margin: 3px 45px;
box-shadow: 2px 5px 2px 3px rgb(34, 32, 32);
}

/* contact-box */
.contact-us{
position: relative;
margin-top: 5px;
}
.contact-us::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:url(https://wallpaperaccess.com/full/3124518.jpg);
    z-index: -1;
    opacity: 0.6;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-box .form textarea{
    width: 500px;
    /* padding: 0.5rem; */
}
.contact-box .form input{
    margin: 4px;
    width:100%;
   
}
.contact-box label{
    font-size: 1.3rem;
}

.foot{
    background-color: black;
    height: 40px;
    color: blanchedalmond;
    text-align: center;
    padding: 9px;
    
}

@media screen and (max-width:400px){
.center{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-shadow: 3px 4px 2px rgb(95, 86, 86);
}

.nav-points li a {
    margin: 24px 7px;
}

    #navigation{
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 110%;
}
#mid-sec{
/* border: 10px solid #cee8ec;
border-radius: 10px;
display: flex; */
/* flex-direction: column;
justify-content: center;
align-items: center; */
padding: 32px 31px;
/* position: relative; */
height: 200px;
width: 220px;
margin: 23px 47px;
box-shadow: 2px 5px 5px 7px rgb(22, 21, 21);
}
#mid-sec::before{
    width: 110%;
    height: 534px;
}

#mid-sec h1{
    font-size: 2rem;
}
#mid-sec p{
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
}
#Services .services{
    flex-direction: column;
}
.services .box{
    height: 459px;
}


.partners-img{
margin-left: 30px;
}



#our-partners::before{
    width: 110%;
}
.partners-img{
    padding-top: 68px;
}


.partners-img img {
    height: 111px;
}

.partners-img .client {
    margin: 3px 9px;
  
}

.contact-box .form textarea{
    width: 200px;
    /* padding: 0.5rem; */
}

.contact-us::before{
    width: 110%;
}


.foot{
    width: 105%;
}
}
